@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Hina+Mincho&family=Kaisei+Opti:wght@500&family=Mochiy+Pop+P+One&family=New+Tegomin&family=Noto+Serif+JP:wght@500&family=Otomanopee+One&family=Palette+Mosaic&family=Potta+One&family=Reggae+One&family=Sawarabi+Mincho&family=Stick&family=Train+One&family=Yomogi&family=Yuji+Mai&family=Zen+Maru+Gothic:wght@300&display=swap");
@font-face {
	font-family: "nicoca";
	src: url(/fonts/nicoca_v1.ttf);
}
@font-face {
	font-family: "karakaze";
	src: url(/fonts/karakaze-R.ttf);
}
@font-face {
	font-family: "Corporate-Mincho-ver2";
	src: url(/fonts/Corporate-Mincho-ver2.ttf);
}
@font-face {
	font-family: "GenEiLateGoN_v2";
	src: url(/fonts/GenEiLateGoN_v2.ttf);
}
@font-face {
	font-family: "gomarice_mukasi_mukasi";
	src: url(/fonts/gomarice_mukasi_mukasi.ttf);
}
@font-face {
	font-family: "Kaisotai";
	src: url(/fonts/Kaisotai-Next-UP-B.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    --height: 3000px;
}

div {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#spacing{
    padding: 3vmin;
}

head{
    font-family: "karakaze", sans-serif;
}

body{
    font-family: "Sawarabi Mincho", sans-serif;
}

main{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.header {
  color: #ffffff;
  position: fixed;
  z-index: 10000;
  width:100%; 
  height: 18vmin;
  background-color: rgba(255, 255, 255, 0.4); 
  border: 1px solid rgba(255, 255, 255, 0.4); 
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.2em);
  box-shadow: 0 0.5em 1em rgba(200, 200, 200, 0.5);
}
@supports not (backdrop-filter: blur(0.2em)) {
    .header {
      background: rgba(255,255,255,.8);
    }
}

.footer {
  background-color: #3b3b3b;
  color: #ffffff;
  height:5vh;
}

.explain
{
    display:none;
    width:100%; 
    top:12vmin;
    font-size: 3vmin;
    text-align: center;
    color: #9b9b9b;
    position: absolute;
    z-index: 100;
}

.text-content{
    position: absolute;
    text-align: center;
    top: 2vmin;
    width: 100%;
    z-index: 100;
}

.type-text{
    color: rgb(0, 0, 0);
    font-family: "karakaze";
    font-size: 8vmin;
}

.ityped-cursor{
    color: rgb(73, 73, 73);
    font-size: 6vmin;
}

.container
{
    top: 20vmin;
    position: absolute;
    z-index: 1;
    left: 0%;
    right: 0%;
    padding: 3vmin;
    text-align: center;
    font-size: 1.5em;
}

.box{
    position: relative;
    height: 40vmin;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

.box p {
    position: absolute;
    margin-left: 1vmin;
    /* 角丸 */
    border-radius: 1vmin;
    width: 20%;
    transform: skewX(-30deg);
    margin-left: 5%;
    font-size: 2em;
    background-color: rgb(73, 73, 73);
    color: #ffffff;
    z-index: 1;
}

.sent{
    position: absolute;
    width: 80%;
    left: 10%;
    border-radius: 3vmin;
    top: 3vmin;
    padding: 3vmin;
    background-color: rgb(255, 255, 255, 0.7);
    border: #ddd 5px solid;
}


.area{
    position: absolute;
    width: 100%;
    top:0vh;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient( transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient( 90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06) );
    background-size: 3vmin 3vmin;
    background-repeat: repeat;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.circle{
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0);
    animation: animate linear infinite;
    color: #a1a1a1;
    -ms-filter: blur(2px);
    filter: blur(2px);
    top: -200px;
}

@keyframes animate {
    100%{
        transform: translateY(var(--height)) rotate(0deg);
        opacity: 0.7;
    }

    0%{
        transform: translateY(-150px) rotate(720deg);
        opacity: 0;
    }
}